<h1>Editing <%= @post.title %></h1>

<%= form_for @post, :html => { :multipart => true }, :url => { :action => "update", :id => @post.id } do |f| %>
    <%= f.text_field :title %>
    <br />
    <%= f.text_area :body %>
    <br />
    <%= image_tag @post.photo.url :med %>
    <br />
    <%= f.file_field :photo %>
    <br />
    <%= f.select :photo_on_top, Post::Photo_on_top_options %>
    <br />
    <%= f.select :photo_gallery, Post::Photo_gallery_options %>
    <br />
    <%= f.submit "Update" %>
<% end %>

<%= link_to 'Delete Post', :action => :destroy, :id => @post.id %>
