<div id="blog">
    <div class="post">
        <h2 class="title"><%= @post.title %></h2>
        <h3 class="createdAt">Posted <%= time_ago_in_words @post.created_at %> ago</h3>
        <div class="body"><%= raw @post.body %></div>
        <div class="photoContainer">
            <a class="fancybox" rel="group" href="<%= @post.photo.url %>">
                    <%= image_tag @post.photo.url :med %>
            </a>

        </div>

    </div>
</div>
