<div id="contactUsFormIE">
    <div id="contactUsTitleIE">
        <h2>CONTACT US AT: </h2> 
        <a href= "mailto:contact@gndfloor.com"><h3>CONTACT@gndfloor.com</h3></a>
    </div>

    <%= form_tag :action => 'submit_contact' do %>
        <div id="leftContactColumnIE">
            <div class="fieldIE">
                <%= label_tag :name, "NAME" %><br />
                <%= text_field_tag :name %>
            </div>
        
            <div class="fieldIE">
                <%= label_tag :company, "COMPANY" %><br />
                <%= text_field_tag :company %>
            </div>

            <div class="fieldIE">
                <%= label_tag :email, "EMAIL" %><br />
                <%= text_field_tag :email %>
            </div>
        </div>
        
        <div id="rightContactColumnIE">
            <div class="fieldIE">
                <%= label_tag :msg, "YOUR PROJECT'S NEEDS" %><br />
                <p>NOT SURE EXACTLY? LEAVE IT BLANK AND WE'LL FIGURE IT OUT TOGETHER!</p>
                <%= text_area_tag :msg %>
            </div>
        </div>

        <%= submit_tag "Submit", :id => 'submitButton' %>
    <% end %>
</div>

<div id="footer">
    <p>DIGITAL BRANDING</p>
    <p>WEB DESIGN</p>
    <p>WEB DEVELOPMENT</p>
    <p>INTERACTIVE</p>
    <hr class="hrSub" />
    <p>Contact a sales representative directly at:</p>
    <a href= "mailto:tyler@gndfloor.com"><p class="upSome">tyler@gndfloor.com</p></a>
    <hr class="hrSub" />
    <p>LOCATION: TAMPA FL, BLACKSBURG VA</p>
    <p>Ground Floor Interactive, LLC all rights reserved 2012</p>
</div>

<div id="bottomPad"><p></p></div>