<div id="contactUsForm">
    <div id="contactUsTitle">
        <h2>CONTACT US | </h2> 
        <h3>WE PROMISE WE'RE NICE PEOPLE!</h3>
    </div>

    <%= form_tag :action => 'submit_contact' do %>
        <div id="leftContactColumn">
            <div class="field">
                <%= label_tag :name, "NAME" %><br />
                <%= text_field_tag :name %>
            </div>
        
            <div class="field">
                <%= label_tag :company, "COMPANY" %><br />
                <%= text_field_tag :company %>
            </div>

            <div class="field">
                <%= label_tag :email, "EMAIL" %><br />
                <%= text_field_tag :email %>
            </div>
        </div>
        
        <div id="rightContactColumn">
            <div class="field">
                <%= label_tag :msg, "YOUR PROJECT'S NEEDS" %><br />
                <p>NOT SURE EXACTLY? LEAVE IT BLANK AND WE'LL FIGURE IT OUT TOGETHER!</p>
                <%= text_area_tag :msg %>
            </div>
        </div>

        <%= submit_tag "Submit", :id => 'submitButton' %>
    <% end %>
</div>

<div id="footer">
    <p>DIGITAL BRANDING</p>
    <p>WEB DESIGN</p>
    <p>WEB DEVELOPMENT</p>
    <p>INTERACTIVE</p>
    <hr class="hrSub" />
    <p>LOCATION: TAMPA FL, BLACKSBURG VA</p>
    <p>Ground Floor Interactive, LLC all rights reserved 2012</p>
</div>
