<div id="index">
    <div id="slideshow">
        <div id="wrapper">
        <div class="slider-wrapper theme-gfi">
            <div id="slider" class="nivoSlider">
			    <%= image_tag 'gfi/slideshow/interactivemedia.jpg', {"data-transition" => "boxRainGrow"} %>
                <%= image_tag 'gfi/slideshow/design.jpg', {"data-transition" => "boxRandom"} %>
                <%= image_tag 'gfi/slideshow/development.jpg', {"data-transition" => "fade"} %>
                <%= image_tag 'gfi/slideshow/branding.jpg', {"data-transition" => "fold"} %>
            </div>
        </div>
        </div>
    </div>

    <hr class="hrMain" />
    <%= render :partial => 'package' %>
    <hr class="hrMain" />
    <!-- Recent works, etc -->
    <div id="info">
        <%= link_to :action => :test do %><div id="flowChart">
        </div><% end %>

        <div id="recentWorks">
            <h2>MOST RECENT PIECES</h2>
            
            <div id="previews">
                <%= link_to :action => :tai do %><div id="tai"></div><% end %>
                <%= link_to :action => :nui do %><div id="nui"></div><% end %>
            </div>
        </div>
        
        <hr class="hrSub" />
        
        <div id="previews">
            <h2>A LITTLE ABOUT US</h2>
                <h5>Our process creates an environment for hassle free digital branding.  We offer design and development of professionally made websites, and work with you to increase your brand’s recognition online.  There is no “one size fits all” solution, so we take a business minded approach to create a digital brand that will attract new customers and increase your ROI.<h5>


                    <hr class="hrMain" />
    </div>
    <%= render :partial => 'our_process' %>
    <hr class="hrMain" />
    <%= render :partial => 'contact_form' %>
</div>