<div id="index">
    <div id="slideshow">
        <div id="wrapper">
        <div class="slider-wrapper theme-gfi">
            <div id="slider" class="nivoSlider">
			    <%= image_tag 'gfi/slideshow/interactivemedia.jpg', {"data-transition" => "boxRainGrow"} %>
                <%= image_tag 'gfi/slideshow/design.jpg', {"data-transition" => "boxRandom"} %>
                <%= image_tag 'gfi/slideshow/development.jpg', {"data-transition" => "fade"} %>
                <%= image_tag 'gfi/slideshow/branding.jpg', {"data-transition" => "fold"} %>
            </div>
        </div>
        </div>
    </div>

    <hr class="hrMain" />

    <!-- Recent works, etc -->
    <div id="info">
        <a href="test"><div id="flowChart">
        </div></a>

        <div id="recentWorks">
            <h2>MOST RECENT PIECES</h2>
            
            <div id="previews">
                <a href="portfolio/tai"><div id="tai"></div></a>
                <a href="portfolio/nui"><div id="nui"></div></a>
            </div>
        </div>
        
        <hr class="hrSub" />
        
        <div id="previews">
            <h2>A LITTLE ABOUT US</h2>
                <p>We're awesome as hell</p>


    </div>

    

    <!-- Our Services -->
    <div id="ourServices"><hr class="hrMain" />
        <div id="desc">
            <div id="serviceHead">
                <h2>THE WAY WE DO THE THINGS WE DO</h2>
                <a href="services"><div id="serviceLink"><h4>LEARN MORE ABOUT OUR SERVICES</h4></div></a>
            </div>
            <div class="research" id="block">
                <h3>RESEARCH</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="research" id="block">
                <h3>DESIGN</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div class="research" id="block">
                <h3>DEVELOPMENT</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>

            <div id="blockTwo">
                <h3>INTERACTIVE</h3>
                <p>
                    We will research your market, help come up with marketing strategies
                    to get your brand bigger
                </p>
            </div>
        </div>
    </div>

    <hr class="hrMain" />
    <%= render :partial => 'contact_form' %>
</div>
