<div id="slideshow">
    <div id="wrapper">
    <div class="slider-wrapper theme-gfi">
        <div id="slider" class="nivoSlider">
			<%= image_tag 'gfi/portfolio/nui/nui1.png', {"data-transition" => "boxRainGrow"} %>
			<%= image_tag 'gfi/portfolio/nui/nui2.jpg', {"data-transition" => "boxRandom"} %>
        </div>
    </div>
</div>

<div id="recentWorksPort">
    <hr class="hrSub" />
    <div id="writeUp">
        <h1>NUI WEAR</h1>
            <h2>THE GOALS</h2>
                <p>1) Create a site with a bold style to help solidify brand recognition</p>
                <br/>
                <p>2) Allow the users to browse and purchase products in an intuitive fashion without relying on an external cumbersome ecommerce website.</p>
                <br/>
                <p>3) Allow the users to ‘digitally update’ the products; one of the shirts produced by NUI WEAR has a QR code that points to a URL that is configured on the site.</p>
                <hr class="hrSub" />
            <h2>IMPLEMENTATION</h2>
                <h3>Design</h3>
                    <p>The design we created sets a bold statement.  The contrasting colors and blocky design is a modern industrialesque form that really makes the site pop out.</p>
                <h3>Development</h3>
                    <p>We developed the site from scratch; we wanted an intuitive and fluid interface that would not frustrate customers.  Online stores are notorious for complicated checkout procedures; a complicated checkout will jeopardize sales.  We built a smooth checkout system with the option to purchase using credit or paypal; the Amazon store checkout process was our inspiration.  Alongside the checkout system, NUI WEAR needed a specialized control panel customers could use to digitally update products.  As many of NUI WEAR’s products have QR codes, one of the control panel features is the ability to change the URL which the shirt points to.</p>
                    
                    <hr class="hrSub" />

            <h2>RESULTS</h2>
                    <p>Currently NUI WEAR is still staging their business.  More to come soon.</p>
    </div>
    <%= link_to :action => :portfolio do %><div id="backToLink"><h3>BACK TO PORTFOLIO</h3></div><% end %>
    <%= link_to :action => :contact do %><div id="contactBox">
        <h3>Let's get the ball rollin'</h3>
            <p>We can help your business as much as we helped them!</p>
    </div>
    <% end %>
</div>

<hr class="hrMain" />

<%= render :partial => 'contact_form' %>
