<div id="vLine"></div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="headTop"><h3>PREMIUM PACKAGE</h3></div>
        <div id="headTop"><h3>STANDARD PACKAGE</h3></div>
        <div id="headTop"><h3>BASIC PACKAGE</h3></div>
        <div id="packageLabelss"><h3>WEB DESIGN PACKAGES</h3></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="headTop"><h3>ONLINE BRANDING</h3></div>
        <div id="headTop"><h3>ONLINE MARKETING</h3></div>
        <div id="packageLabels"><h3>MARKETING PACKAGES</h3></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p>1. Custom Design</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Facebook Creation/Design</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p class="multiLine">2. Unlimited Business E-Mail</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Twitter Creation/Design</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p class="multiLine">3. Google Analytics Tracking</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>Foursquare Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p class="multiLine">4. Year Free Maintenance</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Google Adwords Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>5. 2-3 Design concepts</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>Linked In Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>6. SEO Optomization</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>Tumblr Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>7. Custom Graphics</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Youtube Creation/Design</p></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>8. Admin System</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Facebook Managment</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>9. Admin Training</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p>Twitter Managment</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p class="multiLine">10. 3 Hour Phone Consultation</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Google Adwords Management</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>11. Additional Blog</p></div>
    </div>
</div>


<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Foursquare Campaigns</p></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="headBottom"><h3>$1,250</h3></div>
        <div id="headBottom"><h3>$799</h3></div>
        <div id="headBottom"><h3>$499</h3></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="headBottom"><h4>$275/mo PER</h4></div>
        <div id="headBottom"><h3>$199 PER</h3></div>
    </div>
</div>

<div id="taglinePack">
    <p>1. Custom design for every site, no template guaranteed.</p>
    <p>4. Maintenance includes: bug fixes, staying current with browser updates, and improving site functionality as needed.  Maintenance does not include content management, the creation of new graphics or designs.</p>
    <p>5. After a meeting, one design will be made for your site, you can tweak it from there, but with the extra designs, you will see more of a variety of design options.</p>
    <p>6. Site will be optimized for search engines.</p>
    <p>8. An online control panel to update content on your page, in the base package, content will be static and implemented by us.</p>
    <div id="bottomPad"></div>
</div>

<div id="taglinePackRight">
    <p>*Design/Creation entails initial setup and design for the said items, each item is $199. (Charge is only for the items that you want to be created)</p>
    <p>*Additionally, the management of such outlets (i.e. posting content and promotional offers) is an additional $275/month each. (No long term contracts, pay for the work that you need.)</p>
    <p>*Youtube videos/commercials can be produced for $250 a video.</p>
</div>


<hr class="hrMain" />
<%= render :partial => 'contact_form' %>
