<div id="designPackages">
    <div id="designPackHead">
        <div id="headTop"><h3>PACKAGE C</h3></div>
        <div id="headTop"><h3>PACKAGE B</h3></div>
        <div id="headTop"><h3>PACKAGE A</h3></div>
    </div>
</div>


<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="headTop"><h3>PACKAGE B</h3></div>
        <div id="headTop"><h3>PACKAGE A</h3></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p>5-10 page site</p></div>
    </div>
</div>



<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>bang</p></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>Admin System</p></div>
    </div>
</div>


<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p>bang</p></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>bang</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"></div>
        <div id="tableCells"></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="headBottom"><h3>$1,250</h3></div>
        <div id="headBottom"><h3>$800</h3></div>
        <div id="headBottom"><h3>$499</h3></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="headBottom"><h3>$399/mo</h3></div>
        <div id="headBottom"><h3>$199/mo</h3></div>
    </div>
</div>
