<div id="designPackages">
    <div id="designPackHead">
        <div id="headTop"><h3>PREMIUM PACKAGE</h3></div>
        <div id="headTop"><h3>STANDARD PACKAGE</h3></div>
        <div id="headTop"><h3>BASIC PACKAGE</h3></div>
        <div id="packageLabelss"><h3>WEB DESIGN PACKAGES</h3></div>
    </div>
</div>


<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="headTop"><h3>ONLINE BRANDING</h3></div>
        <div id="headTop"><h3>ONLINE MARKETING</h3></div>
        <div id="packageLabels"><h3>MARKETING PACKAGES</h3></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p>Custom Design</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Facebook Creation/Design</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p>E-Mail Setup</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Twitter Creation/Design</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p class="multiLine">Google Analytics Tracking</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>Foursquare Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabel"><p>Year Free Maintenance</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Google Adwords Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>2-3 Design concepts</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>Linked In Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>SEO Optomization</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p>Tumblr Creation</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>Custom Graphics</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Youtube Creation/Design</p></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>Admin System</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Facebook Managment</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>Admin Training</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p>Twitter Managment</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p class="multiLine">3 Hour Phone Consultation</p></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Google Adwords Management</p></div>
    </div>
</div>

<div id="designPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabel"><p>Additional Blog</p></div>
    </div>
</div>


<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/check.png') %></div>
        <div id="tableCells"><%= image_tag (asset_path 'gfi/packages/table/x.png') %></div>
        <div id="packageLabelI"><p class="multiLine">Foursquare Campaigns</p></div>
    </div>
</div>


<div id="designPackages">
    <div id="designPackHead">
        <div id="headBottom"><h3>$1,250</h3></div>
        <div id="headBottom"><h3>$799</h3></div>
        <div id="headBottom"><h3>$499</h3></div>
    </div>
</div>

<!-- marketing online pkg -->
<div id="mktPackages">
    <div id="designPackHead">
        <div id="headBottom"><h4>$275/mo PER</h4></div>
        <div id="headBottom"><h3>$199 PER</h3></div>
    </div>
</div>

<div id="bottomPad"></div>

<hr class="hrMain" />
<%= render :partial => 'contact_form' %>
