<div id="slideshow">
    <div id="wrapper">
    <div class="slider-wrapper theme-gfi">
        <div id="slider" class="nivoSlider">
			<%= image_tag 'gfi/portfolio/paralax/paralax3.jpg', {"data-transition" => "boxRainGrow"} %>
			<%= image_tag 'gfi/portfolio/paralax/paralax2.jpg', {"data-transition" => "boxRandom"} %>
            <%= image_tag 'gfi/portfolio/paralax/paralax1.jpg', {"data-transition" => "fade"} %>
        </div>
    </div>
</div>

<div id="recentWorksPort">
    <hr class="hrSub" />
    <div id="writeUp">
        <h1>THE PARALLAX SITE</h1>
            <h2>Strategy</h2>
            <p>We set out to make a website for our own business that would both demonstrate our design and development capabilities.  We came across a concept called parallax which allows different objects and images on the web site to move at different speeds while visitors scroll down.  There were already some big brand names using a parallax but with us being a web design and development company we thought it would be a great way to showcase our talents.</p>

            <hr class="hrSub" />
            <h2>Implementation</h2>
            <h3>Design</h3> 
            <p>Despite having such in-depth and detailed development requirements the primary focus for a successful parallax is the design which keeps the flow going for the visitor.  We created a theme that would separate each of the services we offer to give visitors the obvious distinction between each.  The colors and visuals are evenly spread out and within the same spectrum so that nothing stands out too much.</p>

            <h3>Development</h3>
            <p>We developed and implemented all the moving parts which include the individual pages and all the graphics.  We added a fade for the graphics on the home page that disappeared when visitors scroll down.  The navigation bar stays in place as visitors scroll down as well as an interactive plug that has contact information.  When the plug reaches the bottom of the site the contact us sign lights up and encourages people to ask for a quote.  We also developed an interactive iPad screen which explains and demonstrates all of our social media services.   Each icon that appears to be an app takes visitors to each individual service.</p>
    </div>
    <%= link_to :action => :portfolio do %><div id="backToLink"><h3>BACK TO PORTFOLIO</h3></div><% end %>
    <%= link_to :action => :contact do %><div id="contactBox">
        <h3>Let's get the ball rollin'</h3>
            <p>We can help your business as much as we helped them!</p>
    </div>
    <% end %>
    <hr class="hrMain" />
</div>

<%= render :partial => 'contact_form' %>