<div id="info">
    <div id="recentWorksPort">
        <h1>RECENT WORKS</h1>
        
        <div id="previews">
            <%= link_to :action => :tai do %><div id="tai"></div><% end %>
            <%= link_to :action => :nui do %><div id="nui"></div><% end %>
            <%= link_to :action => :'drexel-teacher-panel' do %><div id="drexelPort"></div><% end %>
           <%= link_to :action => :'vt-surf-club' do %><div id="vtSurfPort"></div><% end %>
            <%= link_to :action => :'parallax-site' do %><div id="oldSite"></div><% end %>
        </div>
    </div>
    <hr class="hrMain" />
    <%= render :partial => 'contact_form' %>
</div>