<div id="slideshow">
    <div id="wrapper">
    <div class="slider-wrapper theme-gfi">
        <div id="slider" class="nivoSlider">
			<%= image_tag 'gfi/portfolio/vtsurf/vtsurf1.png', :alt => 'Website Design Tampa', "data-transition" => "boxRainGrow" %>
			<%= image_tag 'gfi/portfolio/vtsurf/vtsurf2.png', :alt => 'Web Design Tampa', "data-transition" => "boxRandom" %>
        </div>
    </div>
</div>

<div id="recentWorksPort">
    <hr class="hrSub" />
    <div id="writeUp">
        <h1>THE VIRGINIA TECH SURF CLUB</h1>
            <h2>THE GOAL</h2>
                <p>Create an upbeat, informative, and usable site for the Virginia Tech Surf club</p>
                <hr class="hrSub" />
        <h2>STRATEGY</h2>
            <p>We worked with the Surf Club and a graphics artist they had selected to create a website to promote club activities.</p>
           <hr class="hrSub" />
        <h2>IMPLEMENTATION</h2>
            <h3>DEVELOPMENT</h3>
            <p>The design was presented to us by a graphics artist who showed us the general style and gave us the image graphics.  We took the design and worked on the usability aspects to create a cleaner and intuitive interface.</p>
            <hr class="hrSub" />
            <h2>RESULTS</h2>
                <p>The Virginia Tech Surf club now has a large member base and large turnout on events thanks to the website.</p>
    </div>
    <%= link_to :action => :portfolio do %><div id="backToLink"><h3>BACK TO PORTFOLIO</h3></div><% end %>
    <%= link_to :action => :contact do %><div id="contactBox">
        <h3>Let's get the ball rollin'</h3>
            <p>We can help your business as much as we helped them!</p>
    </div>
    <% end %>
    <hr class="hrMain" />
</div>

<%= render :partial => 'contact_form' %>
