<div id="slideshow">
    <div id="wrapper">
    <div class="slider-wrapper theme-gfi">
        <div id="slider" class="nivoSlider">
			<%= image_tag 'gfi/portfolio/vtsurf/vtsurf1.png', {"data-transition" => "boxRainGrow"} %>
			<%= image_tag 'gfi/portfolio/vtsurf/vtsurf2.png', {"data-transition" => "boxRandom"} %>
        </div>
    </div>
</div>

<div id="recentWorksPort">
    <hr class="hrSub" />
    <div id="writeUp">
        <h1>THE VIRGINIA TECH SURF CLUB</h1>
            <h2>THE GOAL</h2>
                <p>Create an upbeat, informative, and usable site for the Virginia Tech Surf club</p>
                <hr class="hrSub" />
        <h2>STRATEGY</h2>
            <p>We worked with the Surf Club and a graphics artist they had selected to create a website to promote club activities.</p>
           <hr class="hrSub" />
        <h2>IMPLEMENTATION</h2>
            <h3>DESIGN</h3>
            <p>The design we created was intended to appeal to the target audience which was 18-35 year old males.  The app squares, which were already created by the app developers, provided a colorful and fun look which we used to show that the site includes all kinds of apps.  We wanted to incorporate the app squares as much as possible to help complete the look of the site.</p>
            <h3>DEVELOPMENT</h3>
            <p>The design was presented to us by a graphics artist who showed us the general style and gave us the image graphics.  We took the design and worked on the usability aspects to create a cleaner and intuitive interface.</p>
            <h3>INTERACTIVE CAMPAIGN</h3>
            <p>The client wanted a strong Twitter presence to be able to share when new app reviews have been added and when updates to existing apps have been made.  There are currently over 8,000 followers on Twitter for TheAppInformer with a large number of developers reaching out to request for app reviews.  There is also a large number of retweets by users who want to share reviews and information found on TheAppInformer.  We wanted to share pictures with users and followers on Facebook to visually attract new visitors to the site.  At the time of our campaign we shared as many as five tweets and posts a day which were shown to increase traffic by as much as 45% compared to days without any posts.  Our data also shows that visitors who came to the site as a result of a tweet or post were more engaged with the site and also visited three times as many pages on the site.</p>
            <hr class="hrSub" />
            <h2>RESULTS</h2>
                <p>The Virginia Tech Surf club now has a large member base and large turnout on events thanks to the website.</p>
    </div>
    <%= link_to :action => :portfolio do %><div id="backToLink"><h3>BACK TO PORTFOLIO</h3></div><% end %>
    <%= link_to :action => :contact do %><div id="contactBox">
        <h3>Let's get the ball rollin'</h3>
            <p>We can help your business as much as we helped them!</p>
    </div>
    <% end %>
    <hr class="hrMain" />
</div>

<%= render :partial => 'contact_form' %>