<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    
    <meta name="keywords" content="Web Design, Web Development, Internet Marketing, Social Media, Interactive Media, Interactive Marketing, Tampa Web design, Website Design Tampa, Web Design Florida">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta name="distribution" content"global">
    <meta name="google-site-verification" content="zKh6hWN5szP7ZTr2LTj-xMDnUtuouH_i0x2dA-b2Swc" />
    <meta name="description" content="Professional Web Design and Development in Tampa, Florida, The best internet marketing strategies, click to learn more.">

  <title>Web Design, Development, Internet Marketing Tampa | Ground Floor Interactive</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Browser hacks -->
  <% if browser.firefox? %>
    <%= stylesheet_link_tag "browser/firefox" %>
  <% end %>

  <!-- Fonts -->
  <link href="webfontkit/stylesheet.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="mainDiv">
    <div id="header">
        <!-- Logo -->
        <a href="/"><div id="logo"></div></a>

        <!-- Navbar -->
        <div id="nav">
            <ul>
                <li><%= link_to_unless_current 'ABOUT', :controller => :application, :action => :about %></li>
                <li><%= link_to_unless_current 'PORTFOLIO', :controller => :application, :action => :portfolio %></li>
                <li><%= link_to_unless_current 'SERVICES', :controller => :application, :action => :services %></li>
                <li><%= link_to_unless_current 'BLOG', :controller => :blog %></li>
                <li><%= link_to_unless_current 'CONTACT', :controller => :application, :action => :contact %></li>
            </ul>
        </div>

    </div>

    <hr class="hrMain" />

    <!--><div id="fbIcon"></div>
    <div id="twitterIcon"></div><!-->
    
    <div id="content">
      <%= yield %>
    </div>
</div>

</body>
</html>
