<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    
    <meta name="keywords" content="Web Design, Web Development, Internet Marketing, Social Media, Interactive Media, Interactive Marketing, Tampa Web design, Website Design Tampa, Web Design Florida">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta name="distribution" content"global">
    <meta name="google-site-verification" content="zKh6hWN5szP7ZTr2LTj-xMDnUtuouH_i0x2dA-b2Swc" />
    <meta name="description" content="Professional Web Design and Development in Tampa, Florida, The best internet marketing strategies, click to learn more.">

  <title>Web Design, Development, Internet Marketing Tampa | Ground Floor Interactive</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <link href="/webfontkit/stylesheet.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div id="mainDiv">

    <div id="content">
      <%= render :partial => 'fb' %>
      <%= yield %>
    </div>
</div>

</body>
</html>
